{{#each raiders as |raider|}}
  {{log raider}}

  <small><h3 data-id="{{raider.id}}"> <ul><li>Name: <b>{{raider.name}}</b></li>
  <div>
      <li>Power: {{raider.power}}</li>
      <li>ID: {{raider.id}}</li>
</ul>
</small></h3>
  </div>

{{/each}}
